*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}


nav{
    background-color: rgba(252, 0, 147, 0.438);
    padding: 10px 20px;
    position: relative;
}

.menu-toggle{
    display: none;
}

.hamburguer{
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburguer span {
    height: 4px;
    background-color: rgb(124, 186, 240);
    border-radius: 2px;
}

ul.menu{
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.menu li a {
    color: rgb(255, 0, 119);
    text-decoration: none;
}


h1{
    align-items: center;
    text-align: center;
    color:rgb(255, 162, 235)
}


/*Responsivo*/
@media (max-width:768px){
    .hamburguer{
        display:flex;

    }


    ul.menu{
        display: none;
        flex-direction:column;
        background:#ce049b;
        position:absolute;
        top:60px;
        left:0;
        width:100%;

    }


    .menu-toggle::checked
    +.hamburguer+ul.menu{

        display:flex;

     } 
     
    }