*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgba(252, 0, 147, 0.438);
    padding: 10px 20px;
    position: relative;
}

.menu-toggle{
    display: none;
}

.hamburguer{
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburguer span {
    height: 4px;
    background-color: rgb(124, 186, 240);
    border-radius: 2px;
}

ul.menu{
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.menu li a {
    color: rgb(253, 60, 150);
    text-decoration: none;
}